<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>New York Times Portal</title>
<head  style="background-image: url('static/images/NYCbackground.jpg');">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-image: url('images/NYCbackground.jpg');">





    <p> </p>
    <a href="/most-popular"><button>Most Popular Articles</button></a>
    <a href="/movie-reviews"><button>Movie Reviews</button></a>

</body>
</html>

<!--    <div class="topnav">-->
<!--        <a class="active" href="#/most-popular">News</a>-->
<!--        <a href="#/movie-reviews">Movies</a>-->
<!--    </div>-->
<!--    -->
<!--    &lt;!&ndash; How do we bring this button to the middle of the page? &ndash;&gt;-->
<!--    <div class="position-absolute top-50 start-50 translate-middle">-->
<!--        <a href="/most-popular" class="btn btn-lg btn-danger translate-middle" type="button" aria-pressed="true">Most Popular Articles</a>-->
<!--        <a href="/movie-reviews" class="btn btn-lg btn-dark translate-middle" type="button" aria-pressed="true">Movie Reviews</a>-->
<!--    </div>-->

<!--    <div class="container bg-light">-->
<!--        <div class="col-md-20 text-center">-->
<!--            <a href="/most-popular"><button type="button" class="btn btn-primary">Most Popular Articles</button></a>-->
<!--            <a href="/most-popular"><button type="button" class="btn btn-warning">Movie Reviews</button></a>-->
<!--        </div>-->
<!--    </div>-->

